<!DOCTYPE html>
<html>

<head>
	<title>T-shirt Store</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
	<h1 class="h1">Buy Your T-shirts Here!</h1>
	<br>
	<br>
	<div class="container">
		<div class="leftbox">
			<a href="https://www.aliexpress.com/item/Fashion-New-Sheldon-Cooper-Penny-Men-T-Shirt-Summer-Short-sleeve-The-Big-Bang-Theory-T/32826163799.html?src=google&albslr=111882647&isdl=y&aff_short_key=UneMJZVf&source=%7Bifdyn:dyn%7D%7Bifpla:pla%7D%7Bifdbm:DBM&albch=DID%7D&src=google&albch=shopping&acnt=708-803-3821&isdl=y&albcp=653153647&albag=34728528644&slnk=&trgt=66447728618&plac=&crea=en32826163799&netw=s&device=c&mtctp=&gclid=CjwKCAiA5OrTBRBlEiwAXXhT6IUk_tSQqoJaWhHolnpCba6TYrpt14tpmBrFZAIfvsDi0p4TlapMPRoCgLIQAvD_BwE">
				<img src="../static/Sheldon.jpg">
			</a>
			<br>
			<p class="co">Dr. Sheldon Cooper</p>
		</div>
		<div class="midbox">
			<a href="https://www.groupon.com/deals/gg-mens-star-wars-t-shirt-mystery-deal-1?deal_option=2ea8f7a8-a037-11e6-a491-00259060b5da&utm_source=Google&utm_medium=cpc&utm_campaign=US_DT_SEA_GGL_TIM_TTT_PADS_CBP_CHP_NBR_g*gg-mens-star-wars-t-shirt-mystery-deal-1_productpartitionid*334012872416_campaignid*228801421_adgroupid*29289683701_prodtarget*334012872416_productid*52859347_target*pla-334012872416_d*Goods-Product-Ads_keyword*_adtype*pla_merchantdid*10018412_c*109108795861_k*_m*_adposition*1o18&mr:referralID=8f822d97-0c52-11e8-9798-0050569406b5&gclid=CjwKCAiA5OrTBRBlEiwAXXhT6ORtpvQvdr_Z1vh5cSIBmmcAXDgGD8msVmxO0mRMT8Jr8RK0S0Y7mxoCjtsQAvD_BwE">
				<img src="../static/star_wars.jpg">
			</a>
			<br>
			<br>
			<p>Star War Series</p>
		</div>
		<div class="rightbox">
			<a href="https://www.uniqlo.com/us/en/men-mickey-100-short-sleeve-graphic-t-shirt-402744.html?dwvar_402744_color=COL03&cgid=men-disney-project#start=20&cgid=men-disney-project">
				<img src="../static/magic.jpg">
			</a>
			<p>Magic For All</p>
		</div>
	</div>
	<br>
	<p class="co">We want to hear your feedback :)</p>
	<hr>
	<form action='add' method="GET">
		<input type="submit" value="Add Your Comment" class="button">
	</form>
	<form action='show' method="GET">
		<input type="submit" value="View All Comments" class="button">
	</form>
</body>

</html>